// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

@font-dark:rgba(83, 95, 101, 1.0);
@m-blue:rgba(79, 175, 215, 1.0);

#moustache-wrapper {

  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:9999;
  position:absolute;
  background:rgba(255,255,255,.4);
  -webkit-animation:fadeIn .3s ease-in;

  *{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif !important;
  }

  #moustache-login{
    top:50%;
    left:50%;
    width:400px;
    z-index:999;
    padding:20px;
    background:white;
    margin-top:-150px;
    border-radius:3px;
    position:absolute;
    margin-left:-200px;
    -webkit-box-sizing: border-box;
    box-shadow:0 1px 5px rgba(0,0,0,.4);
    -webkit-animation:pop .3s linear;

    input{
      width:100%;
      padding:10px;
      font-size:15px;
      font-weight:400;
      text-align:center;
      border-radius:2px;
      margin-bottom:20px;
      border:1px solid #ccc;
      -webkit-box-sizing: border-box;
      box-shadow:0 1px 5px rgba(0,0,0,.05);
    }

    input[type="submit"]{
      color:#FFF;
      border:none;
      margin-bottom:0;
      background:#4586f5;
    }

  }


  // Main UI
  #moustache{
    top:20px;
    left:20px;
    background:white;
    position:absolute;
    border-radius:3px;
    width:calc(~'100% - 40px');
    height:calc(~'100% - 40px');
    box-shadow:0 1px 10px rgba(0,0,0,.4);


    // Sidebar
    #moustache-sidebar{
      float:left;
      width:220px;
      height:100%;
      padding:20px;
      border-right:1px solid #eee;

      #moustache-user{
        margin-bottom:30px;

        img{
          width:35px;
          float:left;
          margin-right:10px;
          border-radius:3px;
        }

        h2{
          font-size:15px;
          font-weight:600;
          color:@font-dark;
        }

        #moustache-logout{
          color:#444;
          font-size:13px;
          cursor:pointer;
        }

        #moustache-logout:hover{
          color:#000;
          text-decoration:underline;
        }

      }

      h4{
        color:#999;
        font-size:11px;
        margin-bottom:10px;
        text-transform:uppercase;
      }

      #moustache-repos{
        clear:both;
        list-style:none;
        overflow-y:scroll;
        height:calc(~'100% - 100px');

        li{
          cursor:pointer;
          font-size:13px;
          padding:5px 10px;

          p{
            font-weight:600;
            margin-right:5px;
            display:inline-block;
          }

          span{
            font-weight:300;
            display:inline-block;
          }

        }

        li.current{
          color:#fff;
          border-radius:3px;
          background:@m-blue;
        }

      }

    }

    // Issues List
    #moustache-issues{
      float:left;
      width:360px;
      height:100%;
      padding:20px;
      list-style:none;
      overflow-y:scroll;
      border-right:1px solid #eee;

      li{
          width:100%;
          cursor:pointer;
          overflow-x:hidden;
          position:relative;
          box-shadow:0 1px 0 #eee;
          padding:15px 15px 15px 40px;
          -webkit-box-sizing: border-box;

          .moustache-issue-tag-dots{
            top:18px;
            left:15px;
            width:10px;
            position:absolute;

            .moustache-issue-dot{
              width:8px;
              height:8px;
              display:block;
              border-radius:4px;
              margin-bottom:8px;
              background:rgba(73, 144, 226, 1.0);
            }

          }

          span{
            top:15px;
            color:#ccc;
            right:10px;
            font-size:12px;
            position:absolute;
          }

          h4{
            font-size: 13px;
            color: @font-dark;
            margin-bottom:5px;
          }

          h3{
            font-size:17px;
            line-height:22px;
            margin-bottom:7px;
          }

          p{
            font-size:14px;
            font-weight:400;
            line-height:20px;
            color:rgba(160, 165, 169, 1.0);
          }

      }

      li:hover, li.current{
        box-shadow:none;
        border-radius:3px;
        background:rgba(248, 248, 248, 1.0);
      }

    }

    // Main View
    #moustache-main-view{
      float:left;
      height:100%;
      padding:30px;
      overflow-y:scroll;
      position:relative;
      width:calc(~'100% - 580px');
      -webkit-box-sizing: border-box;

      #moustache-close-issue{
        top:20px;
        right:20px;
        color:#FFF;
        border:none;
        height:35px;
        padding:0 15px;
        font-size:15px;
        line-height:35px;
        border-radius:3px;
        position:absolute;
        background:@m-blue;
        box-shadow:0 1px 3px rgab(0,0,0,.2);
      }

      #moustache-close-issue:hover{
        background:darken(@m-blue, 10%);
      }

      h4{
        font-size: 13px;
        color: @font-dark;
        margin-bottom:5px;
      }

      h3{
        font-size:21px;
        margin-bottom:15px;
      }

      #moustache-issue-labels{
        list-style:none;
        margin-bottom:10px;

        li{
          font-size:13px;
          padding:0px 10px;
          border-radius:3px;
          margin-right:10px;
          display:inline-block;
          border:1px solid @m-blue;
        }

      }

      p{
        font-size:15px;
        font-weight:400;
        line-height:24px;
        color:rgba(160, 165, 169, 1.0);
      }

      #moustache-description{

        width:100%;
        img{max-width:100%;border-radius:3px;}

      }

      #moustache-comments{
        width:100%;
        list-style:none;
        margin-top:30px;
        padding-top:30px;
        border-top:1px solid #eee;

        li{
          width:100%;
          margin-bottom:30px;
          padding-bottom:30px;
          border-bottom:1px solid #eee;
        }

        img{
          width:35px;
          float:left;
          margin-top:2px;
          border-radius:3px;
          margin-right:15px;
        }

        h4{
          margin:0;
          font-size:15px;
          font-weight:600;
        }

        p{
          font-size:14px;
          font-weight:300;
        }

      }

      #moustache-new-comment{
        width:100%;
        resize:none;
        padding:10px;
        font-size:14px;
        border-radius:3px;
        border:1px solid #ddd;
        -webkit-box-sizing: border-box;
      }

    }


  }


}


// Animations
@-webkit-keyframes slideDown{
  0%{
    opacity:0;
    -webkit-transform:translate(0, -100px);
  }
  70%{
    opacity:1;
    -webkit-transform:translate(0,0);
  }
  100%{
    opacity:1;
    -webkit-transform:translate(0, 10px);
  }
}

@-webkit-keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}


@-webkit-keyframes pop{
  0%{
    opacity:0;
    -webkit-transform:scale(.5);
  }
  70%{
    opacity:1;
    -webkit-transform:scale(1.1);
  }
  100%{
    opacity:1;
    -webkit-transform:scale(1);
  }
}
